
#tooltip {
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  max-width: 300px;
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  color: #333;
}

#tooltip.in {
  display: block;
  animation: pop 150ms ease-in-out;
  -webkit-animation: pop 150ms ease-in-out;
}


#tooltip .arrow {
  width: 11px;
  height: 11px;
  position: absolute;
}

#tooltip .arrow:before {
  position: relative;
  color: #fff;
  font-size: 14px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

#tooltip.top .arrow:before {
  content: '▼';
  top: 5px;
  left: -5px;
}

#tooltip.right .arrow:before {
  content: '◀';
  left: -7px;
  top: -3px;
}

#tooltip.bottom .arrow:before {
  content: '▲';
  top: -12px;
  left: -5px;
}

#tooltip.left .arrow:before {
  content: '▶';
  top: -2px;
  left: 7px;
}

@keyframes pop
{
  0%
  {
    opacity: 0;
    transform: scale(0.9);
  }
  50%
  {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100%
  {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes pop
{
  0%
  {
    opacity: 0;
    -webkit-transform: scale(0.9);
  }
  50%
  {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
  }
  100%
  {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

